*{margin: 0px auto; padding: 0px; font-family: '나눔바른펜OTf';
    text-align: center;}
a{text-decoration: none; color: black;}
a:hover{color:red}
#page{width: 900px;
    height: auto;
    margin-top: 50px;
    overflow: hidden;
    text-align: center;
    background: #f8ecc9;
    border: 2px dotted #a79c8e;
    border-radius: 10px;}
#top{width: 890px;
    height: 25px;
    background: #f1bbba;
    border:2px dotted #eb9f9f; 
    border-radius: 10px;
    text-align: left;}
#divSearch {width:880px;
    background: #f1bbba;
    border:2px dotted #eb9f9f;
    border-radius: 10px;
    padding:5px;
    margin-bottom: 10px;
    text-align: center;} 
#tbl{background: #f8ecc9;
    width: 890px;}
    .title{background: #f1bbba;}
    #tbl td{border: 2px dotted #eb9f9f;
    border-collapse: collapse;
    text-align: left;}    

#darken-background {
    position:absolute;
    top:0px;
    left:0px;
    right:0px;
    height:100%;
    display:none;
    background:rgba(0, 0, 0, 0.5);
    z-index:10000;
    overflow-y:scroll;
}
#lightbox {
    width:800px;
    margin:20px auto;
    padding:15px;
    border: 1px solid #333333;
    border-radius:5px;
    background:white;
    box-shadow:0px 5px 5px rgba(34, 25, 25, 0.4);
    text-align:center;
}